<header class="sticky-top">
    <nav>
        <div class="navbar bg-info shadow-sm">
            <div class="navbar-brand align-item-center d-flex">
                <strong style="font-size:xx-large;">&nbsp;&nbsp;Shop With Us</strong>
            </div>
            <button class="btn btn-info" routerLink="/cart">
                <i style="font-size: 30px;" class="fas fa-cart-plus">
                    <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>	
                </i>
            </button>
        </div>
        
    </nav>
    </header>
